@page
@model IndexModel
@{
    ViewData["Title"] = "Travis Hendricks - Countries";
}

<label for="search-box" class="search-label">Country Search</label>
<input id="search-box" class="search-box" placeholder="Name or country code">
<input type="button" id="search-button" class="search-button" value="Search" />

<div id="search-results" class="search-results"></div>
